<header>
  <h1>AnonBlog</h1>
  <% if session[:id] %>
    <%= link_to('Recent Posts', posts_path) %>
    <%= link_to('Profile', user_path) %>
    <%= link_to('New Post', new_post_path) %>
    <%= form_for(:sessions, url: signout_path) do |f| %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <%= link_to('Sign In', signin_path) %>
  <% end %>
</header>
